<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<form action="/signin" method="post" role="form" ng-controller="signin">
				<div class="page-header">
				<h1>Sign In</h1>
				</div>


				<div class="form-group">
					<label for="email" class="sr-only">Email</label>
					<input type="email" name="email" class="form-control" placeholder="Email" ng-model="email" required autofocus>
				</div>

				<div class="form-group">
					<label for="password" class="sr-only">Password</label>
					<input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
			<div class="gap"></div>
			<a href="/password" class="pull-right">Forgot Email or Password?</a>
		</div>
	</div>

</div>