<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<form role="form" ng-controller="signup">
				<div class="page-header">
				<h1>Sign In</h1>
				</div>


				<div class="form-group">
					<label for="email" class="sr-only">Email</label>
					<input type="email" name="email" class="form-control" placeholder="email" ng-model="user.email" required autofocus>
				</div>

				<div class="form-group">
					<label for="password" class="sr-only">Password</label>
					<input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
				</div>

				<div class="form-group">
					<label for="conf_password" class="sr-only">Password</label>
					<input type="password" name="conf_password" class="form-control" placeholder="Password" ng-model="user.conf_password" required>
				</div>
				
				<div class="form-group">
					<label for="nameFirst" class="sr-only">First Name</label>
					<input name="nameFirst" class="form-control" placeholder="First Name" ng-model="user.nameFirst" required autofocus>
				</div>
				
				<div class="form-group">
					<label for="nameLast" class="sr-only">Last Name</label>
					<input name="nameLast" class="form-control" placeholder="Last Name" ng-model="user.nameLast" required autofocus>
				</div>

				<button class="btn btn-lg btn-primary btn-block" ng-click="signup()">Sign Up!</button>
			</form>
			<div class="gap"></div>
		</div>
	</div>

</div>