<div class="col-sm-4" ng-controller="car_maint">	
	<script>
		window.maintenance = <%- maintenance %>;
		window.carID = '<%- carID %>';
	</script>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%- car.model_year + ' ' + car.make.name + ' ' + car.model %></h3>
    </div>
    <div class="panel-body">
      <table class="table">
				<tr>
					<th>Mileage</td>
					<th>Date</td>
					<th>Type</td>
				</tr>
				<tr ng-repeat="row in maintenance">
					<td style="text-align: right;">{{ row.mileage }}</td>
					<td>{{ row.pretty_date }}</td>
					<td>{{ row.type.type }}</td>
				</tr>
			</table>
			<a class="btn btn-default" data-toggle="modal" data-target="#addMaintenance">Add Maintenance</a>
			<button type="button" class="btn btn-default">Export</button>
    </div>
  </div>
	<div class="modal fade" id="addMaintenance" tabindex="-1" role="dialog" aria-labelledby="addMaintenance" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">Add Maintenance</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<td><span>Mileage</span></td>
							<td><input type="text" ng-model="new_maint.mileage" id="mileage" /></td>
						</tr>
						<tr>
							<td><span>Date</span></td>
							<td><input type="text" ng-model="new_maint.date" id="date" /></td>
						</tr>
						<tr>
							<td><span>Type of Maintenance</span></td>
							<td>
								<select ng-model="new_maint.type" ng-options="maint as maint.type for maint in maint_types" value="Select...">
									<option value="">Select...</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save_maint()">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
</div>