<div class="col-sm-4" ng-controller="cars">	
	<script>
		window.cars = <%- result %>;
		window.user = '<%- req.user[0].id %>';
	</script>
	<table class="table">
		<tr>
			<th></th>
			<th>Car</th>
		</tr>
		<tr ng-repeat="car in myCars">
			<td>
				<input type="checkbox">
			</td>
			<td>
				<a href="/account/car_maint/?id={{ car.id }}">{{ car.model_year + ' ' + car.make.name + ' ' + car.model }}</a>
			</td>
		</tr>
	</table>
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addCar">Add Car</button>
	<button type="button" class="btn btn-default">Remove</button>
	<div class="modal fade" id="addCar" tabindex="-1" role="dialog" aria-labelledby="addCar" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">Add Car</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<td><span>Year</span></td>
							<td><input type="text" id="year" ng-model="new_car.model_year" /></td>
						</tr>
						<tr>
							<td><span>Make</span></td>
							<td>
								<select ng-model="new_car.make" ng-options="make as make.name for make in make_list" value="Select...">
									<option value="">Select...</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><span>Model</span></td>
							<td><input type="text" id="model" ng-model="new_car.model" /></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add_car()">Save Changes</button>
				</div>
			</div>
		</div>
	</di
</div>