<!DOCTYPE html>
<html lang="en" ng-app="car_stats">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">
		
		<script src="/js/angular/lib/angular.min.js"></script>
		<script src="/js/angular/lib/angular-route.min.js"></script>
	
		<script src="/js/angular/app.js"></script>
		
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/bootstrap-datetimepicker.min.js"></script>
		
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Car Info</a>
		    </div>
		    <div class="navbar-collapse collapse">
		      <ul class="nav navbar-nav">
		        <% if(!req.user){ %>
		        	<li class="nav_signin"><a href="/signin">Sign In</a></li>
		        <% } else { %>
		        	<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Garage <b class="caret"></b></a>
			          <ul class="dropdown-menu">
			            <li><a href="/account/cars">My Cars</a></li>
			          </ul>
			        </li>
		        	<li class="nav_cars"><a href="/account/dashboard">Dashboard</a></li>
		        	<li class="nav_account"><a href="/account"><%- req.user[0].email %></a></li>
		        <% } %>
		      </ul>
		    </div><!--/.nav-collapse -->
		  </div>
		</div>

    <div class="container theme-showcase" role="main">
			<%- body %>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/docs.min.js"></script>
    <script type="text/javascript">
	    $('.nav_home').addClass('active');
    </script>
  </body>
</html>
